# .NET / C#
bin/
obj/
*.log
*.user
*.dbmdl
*.jfm
*.suo
*.userosscache
*.sln.docstates
*.proj.user

# Env
.env
*.env

# Docker
docker-volume-data/
whatsapp/
# Docker cache klasörleri hariç, dosyalar dahil!
# docker-compose.yml ve Dockerfile'i silme!

# VS Code / Rider / VS
.vscode/
.idea/
.vs/
.settings/
.project
.classpath
.toolstarget

# Node
node_modules/
npm-debug.log

# YAML secrets
secrets.dev.yaml
values.dev.yaml

# Azds / Helm / Charts
azds.yaml
charts/

# Kökteki dosyalar
LICENSE
README.md
