@model beratoksz.Models.RoleViewModel

@{
    ViewData["Title"] = "Yeni Rol Ekle";
}

<div class="container-fluid mt-4">
    <h1>Yeni Rol Ekle</h1>
    <form asp-action="Create" asp-controller="Role" asp-area="Admin" method="post">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Rol Adını Girin" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Kaydet</button>
        <a href="@Url.Action("Index", "Role", new { area = "Admin" })" class="btn btn-secondary">İptal</a>
    </form>
</div>
